JS_APP1_PORT=3000
JS_APP2_PORT=8000
PY_APP1_PORT=8100

JS_APP1_URL=http://localhost:3000
JS_APP2_URL=http://localhost:8000
VITE_JS_APP2_URL=http://localhost:8000
PY_APP1_URL=http://localhost:8100

PY_APP1_TOKEN_HEADER_VALUE=super-secret-token
PY_APP1_TOKEN_QUERY_VALUE=jessica
